/* CSS Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
body{
    background-color: black;

}

main{
   height: 100%;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
h1{
    font-size:80px;
    background: linear-gradient(to right, violet, indigo, blue ,green ,yellow, orange, red);
    background-clip: text;
    color:transparent;
    font-family: monospace;
    -webkit-text-stroke:2px yellow;
}